<a href="https://colab.research.google.com/github/DheerajGolla9/PDS/blob/main/PDS_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Step 1: Load the dataset

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/hepatitis/master/data/hepatitis.csv')

# Displaying the first few rows of the DataFrame

In [ ]:
print("Original DataFrame (first 10 rows):")
df.head(10)

Original DataFrame (first 10 rows):

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
6,51,female,False,False,True,False,True,True,False,True,True,False,False,NaN,NaN,NaN,NaN,NaN,False,die
7,23,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,NaN,NaN,NaN,False,live
8,39,female,True,False,True,False,False,True,True,False,False,False,False,0.7,NaN,48.0,4.4,NaN,False,live
9,30,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,120.0,3.9,NaN,False,live

# Printing the data types to verify the column types

In [ ]:
print("Data types of each column:")
df.dtypes

Data types of each column:

age                  int64
sex                 object
steroid             object
antivirals            bool
fatigue             object
malaise             object
anorexia            object
liver_big           object
liver_firm          object
spleen_palpable     object
spiders             object
ascites             object
varices             object
bilirubin          float64
alk_phosphate      float64
sgot               float64
albumin            float64
protime            float64
histology             bool
class               object
dtype: object

# Step 2: Select numeric columns

In [ ]:
numeric_df = df.select_dtypes(include=np.number).copy()

# Verifying the data types of numeric columns

In [ ]:
print("Data types of numeric columns:")
numeric_df.dtypes

Data types of numeric columns:

age                int64
bilirubin        float64
alk_phosphate    float64
sgot             float64
albumin          float64
protime          float64
dtype: object

# Printing the numeric columns

In [ ]:
print(numeric_df.head(10))

   age  bilirubin  alk_phosphate   sgot  albumin  protime
0   30        1.0           85.0   18.0      4.0      NaN
1   50        0.9          135.0   42.0      3.5      NaN
2   78        0.7           96.0   32.0      4.0      NaN
3   31        0.7           46.0   52.0      4.0     80.0
4   34        1.0            NaN  200.0      4.0      NaN
5   34        0.9           95.0   28.0      4.0     75.0
6   51        NaN            NaN    NaN      NaN      NaN
7   23        1.0            NaN    NaN      NaN      NaN
8   39        0.7            NaN   48.0      4.4      NaN
9   30        1.0            NaN  120.0      3.9      NaN

# Step 3: Calculating the mean of each numeric column

In [ ]:
mean_values = numeric_df.mean()

# Printing the calculated mean values for each numeric column

In [ ]:
print("Calculated mean values for each numeric column:")
print(mean_values)

Calculated mean values for each numeric column:
age               41.200000
bilirubin          1.427517
alk_phosphate    105.325397
sgot              85.894040
albumin            3.817266
protime           61.852273
dtype: float64

# Step 4: Filling missing values with the mean

In [ ]:
numeric_df.fillna(mean_values, inplace=True)

# Printing the DataFrame after replacing missing values with the mean

In [ ]:
print("Numeric DataFrame after filling missing values with mean:")
numeric_df.head(10)

Numeric DataFrame after filling missing values with mean:

   age  bilirubin  alk_phosphate       sgot   albumin    protime
0   30   1.000000      85.000000   18.00000  4.000000  61.852273
1   50   0.900000     135.000000   42.00000  3.500000  61.852273
2   78   0.700000      96.000000   32.00000  4.000000  61.852273
3   31   0.700000      46.000000   52.00000  4.000000  80.000000
4   34   1.000000     105.325397  200.00000  4.000000  61.852273
5   34   0.900000      95.000000   28.00000  4.000000  75.000000
6   51   1.427517     105.325397   85.89404  3.817266  61.852273
7   23   1.000000     105.325397   85.89404  3.817266  61.852273
8   39   0.700000     105.325397   48.00000  4.400000  61.852273
9   30   1.000000     105.325397  120.00000  3.900000  61.852273

In [ ]:
print(numeric_df.dtypes)

age                int64
bilirubin        float64
alk_phosphate    float64
sgot             float64
albumin          float64
protime          float64
dtype: object