<a href="https://colab.research.google.com/github/DheerajGolla9/PDS/blob/ICP-2/Sacramento_Housing_ICP3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# Checking Python version
!python --version

Python 3.11.12

In [34]:
import pandas as pd

In [35]:
#Print pandas version to ensure compatibility
print(pd.__version__)

2.2.2

In [36]:
#Loading the dataset
url = 'https://raw.githubusercontent.com/JuliaData/CSV.jl/refs/heads/main/test/testfiles/Sacramentorealestatetransactions.csv'
df = pd.read_csv(url)

In [37]:
#Setting display options to show all columns
pd.set_option('display.max_columns', None)

In [38]:
#Previewing the dataset
print('First 5 rows:')
df.head()

First 5 rows:

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [39]:
# Show basic information about the dataset
print("Dataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   street     985 non-null    object
 1   city       985 non-null    object
 2   zip        985 non-null    int64
 3   state      985 non-null    object
 4   beds       985 non-null    int64
 5   baths      985 non-null    int64
 6   sq__ft     985 non-null    int64
 7   type       985 non-null    object
 8   sale_date  985 non-null    object
 9   price      985 non-null    int64
 10  latitude   985 non-null    float64
 11  longitude  985 non-null    float64
dtypes: float64(2), int64(5), object(5)
memory usage: 92.5+ KB

In [40]:
# Check for missing values in each column
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
street       0
city         0
zip          0
state        0
beds         0
baths        0
sq__ft       0
type         0
sale_date    0
price        0
latitude     0
longitude    0
dtype: int64

In [41]:
# Describe numerical columns (like price, sq__ft, beds, baths)
print("\nStatistical Summary:")
print(df.describe())

Statistical Summary:
                zip        beds       baths       sq__ft          price  \
count    985.000000  985.000000  985.000000   985.000000     985.000000
mean   95750.697462    2.911675    1.776650  1314.916751  234144.263959
std       85.176072    1.307932    0.895371   853.048243  138365.839085
min    95603.000000    0.000000    0.000000     0.000000    1551.000000
25%    95660.000000    2.000000    1.000000   952.000000  145000.000000
50%    95762.000000    3.000000    2.000000  1304.000000  213750.000000
75%    95828.000000    4.000000    2.000000  1718.000000  300000.000000
max    95864.000000    8.000000    5.000000  5822.000000  884790.000000

         latitude   longitude
count  985.000000  985.000000
mean    38.607732 -121.355982
std      0.145433    0.138278
min     38.241514 -121.551704
25%     38.482717 -121.446127
50%     38.626582 -121.376220
75%     38.695589 -121.295778
max     39.020808 -120.597599

In [42]:
#Finding the number of columns in the DataFrame
print(f'Number of columns: {df.shape[1]}')

Number of columns: 12

In [43]:
#Finding the mean of house prices
print(f"Mean house price: ${df['price'].mean():,.2f}")

Mean house price: $234,144.26

In [44]:
#Finding the median of house prices
print(f"Median house price: ${df['price'].median():,.2f}")

Median house price: $213,750.00

In [45]:
#Finding unique property types
print('Property types:', df['type'].unique())

Property types: ['Residential' 'Condo' 'Multi-Family' 'Unkown']

In [46]:
#Finding max price for condos
condo_max = df[df['type'].str.lower() == 'condo']['price'].max()
print(f"Max price of a condo: ${condo_max:,.2f}")

Max price of a condo: $360,000.00

In [47]:
#Mean price of each property type
print(df.groupby('type')['price'].mean())

type
Condo           150082.185185
Multi-Family    224534.692308
Residential     239186.162486
Unkown          275000.000000
Name: price, dtype: float64

In [48]:
#Count of different property types
print(df['type'].value_counts())

type
Residential     917
Condo            54
Multi-Family     13
Unkown            1
Name: count, dtype: int64